/*以下为top部分*/
.search_inner,.main_inner,.nav_inner{
	width: 1200px;
	margin: 0 auto;
}
body{
	background: #f7f7f7;
}



/* banner部分 */
.banner_inner{
	position: relative;
}

.banner_inner ul{
	position: relative;
	overflow: hidden;
	height: 400px;
}

.banner_inner ul li{
	position: absolute;
	height: 400px;
	top: 0;
	width: 1920px;
	color: #333;
	text-align: center;
	opacity: 0;
}

.banner_inner ul li img{
	width: 1920px;
	height: 400px;
}

.banner_items{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
	z-index: 10;
}
.banner_items span{
	width: 10px;
	height: 10px;
	background: #ccc;
	margin: 0 3px 0 2px;
	display: inline-block;
	border-radius: 50%;
}

.banner_btn span{
	display: block;
	width: 60px;
	height: 70px;
	font-size: 60px;
	font-family: simsun;
	text-align: center;
	line-height:70px;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	background: rgba(0,0,0,.3);
	z-index: 3;
	cursor:default ;
	opacity: 0;
}

.banner_btn span:nth-child(1){
	left: 10px;
}

.banner_btn span:nth-child(2){
	right: 10px;
}








/***** 以下为mian部分 *****/

/* 以下为团购部分 */
.main_group{
	padding: 34px 0 0;
}

.main_group_t{
	background: url('http://icon.zol-img.com.cn/newshop/shop/index/zol-home-icos.png') no-repeat ;
	background-position: -137px 3px;
	padding-left: 40px;
	margin-bottom: 10px;
	height: 36px;
}

.main_group_t h3{
	float: left;
	font-size: 24px;
	font-weight: 400;
	padding-right: 10px;
	line-height: 36px;
}

.main_group_t span{
	font-size: 14px;
	margin-top: 8px;
	line-height: 28px;
	float: left;
	color: #999; 
}

.main_group_t a{
	float: right;
	padding-right: 23px;
	color: #666;
	line-height: 40px;
	background: url('http://icon.zol-img.com.cn/newshop/shop/index/zol-home-icos.png') no-repeat ;
	background-position: 100% -277px;
	font-size: 12px;
}

.main_group_b{
	width: 1200px;
	overflow: hidden;
}

.main_group_b .main_group_banner{
	width: 1200px;
	height: 148px;
	position: relative;
}

.main_group_banner ul{
	width: 1200px;
	position:absolute;
	left: 0;
	top: 0;
}

.main_group_banner ul  li{
	float: left;
	margin-right: 3px;
	width: 247px;
	padding: 15px 135px 15px 15px;
	position: relative;
	height: 118px;
	overflow: hidden;
}

.main_group_banner ul  li:nth-of-type(1){
	background: #fff6dd;
}

.main_group_banner ul  li:nth-of-type(2){
	background: #ffe5e5;
}

.main_group_banner ul  li:nth-of-type(3){
	background: #e3f9ff;
}

.group_banner_t h4{
	font-size: 16px;
	line-height: 22px;
	padding: 3px 0;
	overflow: hidden;
	white-space: nowrap;
}

.group_banner_t p{
	font-size: 14px;
	line-height: 22px;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
}

.group_banner_t>span{
	display: block;
	color: #f33;
	line-height: 48px;
	font-size: 14px;
}

.group_banner_t>span em{
	font-size: 20px;
	font-style: normal;
}

.group_banner_t .time{
	color: #999;
}

.group_banner_t .group_pic{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 120px;
	height: 120px;
}

.group_banner_t .group_pic img{
	width: 100%;
	height: 100%;
}

.group_banner_b{
	position: absolute;
	left: 0;
	top: 149px;
	background: rgba(51,51,51,.89);
	padding: 18px 15px 15px 150px;
	width: 232px;
	height: 117px;
	transition: all 300ms;
}

.group_banner_b .group_b_pic{
	position: absolute;
	top: 20px;
	left: 0;
	width: 134px;
	text-align: center;
}

.group_b_pic img{
	width: 80px;
	height: 80px;
	display: inline-block;
}

.group_b_pic p{
	font-size: 12px;
	line-height: 36px;
	color: #fff;
}

.group_b_pic p a{
	color: #fff;
}

.group_b_pic p span{
	padding: 0 6px;
}

.group_banner_b h4{
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	overflow: hidden;
}

.group_banner_b>p{
	font-size: 14px;
	color: #fff;
	line-height: 24px;
}

.group_banner_b>p>span{
	color: #f33;
}

.group_banner_b>strong{
	font-size: 14px;
	color: #fff;
	line-height: 24px;
}

.group_banner_b>a{
	width: 72px;
	display: block;
	background: #f33;
	border-radius: 2px;
	margin: 9px 0 0;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.main_group_banner ul li:hover .group_banner_b{
	top: 0;
	
}

.main_group_items{
	padding: 15px 0 0;
	text-align: center;
}
.main_group_items span{
	width: 30px;
	height: 8px;
	background: #cbcbcb;
	display: inline-block;
}





/* 以下为领券中心部分 */
.main_coupon{
	padding: 54px 0 0;
}
.main_coupon ul li{
	float: left;
	background: #fff;
	border: 1px solid #f0f0f0;
	box-shadow: 1px 0 3px #e8e8e8;
	position: relative;
	width: 212px;
	margin-right: 15px;
	padding: 10px 10px 0;
	text-align: center;
	height: 92px;
}

.main_coupon ul li .ico{
	position: absolute;
	right: -18px;
	top: 0;
	background: url('http://icon.zol-img.com.cn/newshop/shop/index/zol-home-icos.png') no-repeat;
	background-position: -68px 0;
	width: 18px;
	height: 101px;
}

.main_coupon_t{
	border-bottom: 1px solid #f3f3f3;
}

.main_coupon_t>p{
	float: left;
	width: 111px;
	color: #f66;
	font-size: 32px;
	line-height: 55px;
	text-align: left;
	font-weight: 700;
	transform-origin: 50% 50%;
	transform: skewX(-15deg);
}

.main_coupon_name{
	float: left;
	width: 100px;
}

.main_coupon_name h5{
	font-size: 14px;
	line-height: 22px;
	color: #f66;
	padding-top: 6px;
	overflow: hidden;
	white-space: nowrap;
	width: ;
}

.main_coupon_name p{
	color: #666;
}

.main_coupon ul li a{
	color: #f66;
	line-height: 30px;
}

.main_coupon ul li a:hover{
	text-decoration: underline;
}

.main_coupon ul li a span{
	font-family: simsun;
}

.main_coupon ul li:nth-of-type(1){
	width: 152px;
	padding-left: 20px;
	background: #ec3639;
	color: #fff;
	text-align: left;
}

.main_coupon ul li:nth-of-type(1) .ico{
	background-position: -91px 0;
}

.main_coupon ul li:nth-of-type(1) h4{
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
}

.main_coupon ul li:nth-of-type(1) p{
	font-size: 14px;
	line-height: 20px;
	color: #fcc;
}

.main_coupon ul li:nth-of-type(1) a{
	font-size: 14px;
	line-height: 32px;
	color: #fff;
}

.main_coupon ul li:nth-of-type(1) a span{
	font-family: simsun;
}




/* 以下为同城购部分 */
.main_city{
	padding-top: 34px;
}
.main_city_t{
	background: url('http://icon.zol-img.com.cn/newshop/shop/index/zol-home-icos.png') no-repeat ;
	background-position: -143px -85px;
	padding-left: 40px;
	margin-bottom: 10px;
	height: 36px;
}

.main_city_two img{
	width: 100%;
}

.main_city_t h3{
	float: left;
	font-size: 24px;
	font-weight: 400;
	padding-right: 10px;
	line-height: 36px;
}

.main_city_t span{
	font-size: 14px;
	margin-top: 8px;
	line-height: 28px;
	float: left;
	color: #999; 
}

.main_city_t a{
	float: right;
	padding-right: 23px;
	color: #666;
	line-height: 40px;
	background: url('http://icon.zol-img.com.cn/newshop/shop/index/zol-home-icos.png') no-repeat ;
	background-position: 100% -277px;
	font-size: 12px;
}

.main_city_o li{
	float: left;
}

.main_city_two li{
	background: #fff;
	padding: 20px 20px 24px;
	width: 200px;
	float: left;
}

.main_city_two li a img{
	margin-bottom: 10px;
}

.main_city_two li p a{
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.main_city_two li strong{
	font-size: 14px;
	line-height: 22px;
	color:#999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.refer-price{
	margin-bottom: 5px;
	line-height: 32px;
}

.refer-price p:nth-of-type(1){
	float: left;
	font-size: 18px;
	color: #f33;
}

.main_city_two li p a:hover{
	color: #f33;
	text-decoration: underline;
}

.refer-price p:nth-of-type(2){
	float: right;
	color: #999;
	line-height: 32px;
}

.refer-price p:nth-of-type(2) span{
	color: #f33;
}

.main_city_t_b a{
	display: inline-block;
	padding: 0 6px;
	border: 1px solid #f66;
	line-height: 22px;
	color: #f33;
	border-radius: 3px;
	font-size: 12px;
	position: relative;
}

.main_city_t_b a div{
	width: 0px;
	position: absolute;
	left: 0;
	top: 0;
	height: 22px;
	background: #f66;
	border-radius: 3px;
	overflow: hidden;
	transition: width .5s;
}

.main_city_t_b a p{	
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	padding-left: 7px;
}

.main_city_t_b a:hover div{
	width: 62px;
}





/* 以下为品牌精选部分 */
.main_select{
	padding-top: 34px;
}

.main_select_t{
	background-position: -138px -125px;
}

.main_select ul li{
	float: left;
	margin-left: 12px;
}

.main_select ul li a{
	float: left;
	text-align: center;
	width: 200px;
	height: 300px;
	padding: 20px 15px;
	background: #fff;
	
}

.main_select ul li a img{
	padding-bottom: 22px;
	display: inline-block;
}

.main_select ul li a p:nth-of-type(1){
	font-size: 14px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.main_select ul li a p:nth-of-type(1):hover{
	color:#f33 ;
	text-decoration: underline;
}

.main_select ul li a p:nth-of-type(2){
	font-size: 14px;
	line-height: 30px;
}

.main_select ul li a p:nth-of-type(2) span{
	color: #f33;
}

.main_select ul li:nth-of-type(1){
	margin-left: 0;
}

.main_select ul li:nth-of-type(1) a{
	width: 230px;
	height: 340px;
	padding: 0;
}

.main_select ul li:nth-of-type(1) a img{
	padding-bottom: 0;
}

.main_select ul li a:hover{
	box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}

.main_select ul li:nth-of-type(1) a:hover{
	box-shadow: none;
}





/* 以下为电竞频道部分 */
.main_gaming{
	padding-top: 34px;
}

.main_gaming_t{
	background-position: -135px -167px;
}

.main_gaming_b{
	margin-left: -12px;
}

.gaming-box{
	float: left;
	width: 594px;
	margin-left: 12px;
}

.column-hd{
	line-height: 46px;
	padding: 0 15px;
}

.main_gaming_select{
	background: #7095ee;
}

.column-hd h5{
	float: left;
	font-size: 18px;
	color: #fff;
}

.main_gaming_select ul{
	float:  right;
	padding: 10px 5px 0 0;
}

.main_gaming_select ul li{
	float: left;
	font-size: 14px;
	line-height: 22px;
	margin-left: 28px;
	color: #fff;
	cursor: pointer;
}

.cur{
	border-bottom: 3px solid #fff;
}

.gaming_main{
	background: #fff;
	overflow: hidden;
}

.gaming_ban{
	position: relative;
	overflow: hidden;
}

.gaming_ban ul{
	position: relative;
	height: 260px;
	overflow: hidden;
}

.gaming_ban ul li{
	position: absolute;
	left: 0;
	right: 0;
	width: 594px;
	height: 240px;
}
.gaming_ban .btn{
	position: absolute;
	z-index: 10;
	bottom: 15px;
	left: 0;
	width: 100%;
	text-align: center;
}

.gaming_ban .btn span{
	width: 10px;
	height: 10px;
	background: #ccc;
	opacity: .6;
	border-radius: 50%;
	display: inline-block;
	margin: 0 4px;
}

.gaming_list li{
	float: left;
	width: 160px;
	padding: 0 19px;
}

.gaming_list li>a{
	margin-bottom: 10px;
	padding: 0 10px;
}

.gaming_list li>a img{
	width: 100%;
	height: 100%;
}

.ware-name{
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.gaming_list li p:nth-of-type(2){
	font-size: 18px;
	line-height: 34px;
	color: #f33;
}


.gaming_diy{
	background: #9b74e9;
}

.gaming_diy_b{
	background: #fff;
}





/* 以下是数码集市部分 */
.main_digital{
	padding-top: 34px;
}

.main_digital_t{
	background-position: -141px -208px;
}

.main_digital_b{
	margin-left: -12px;
}

.main_camera{
	background: #3ccbbc;
}

.main_camera a{
	float: right;
	margin-top: 14px;
	line-height: 18px;
	font-size: 14px;
	color: #fff;
}

.main_camera a span:nth-of-type(2){
	width: 16px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #fff;
	text-align: center;
	font-family: simsun;
	border-radius: 50%;
	display: inline-block;
}

.main_digital_list li>a{
	position: relative;
	display: inline-block;
	padding: 10px 0;
	margin-bottom: 0;
}

.main_digital_hover{
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom:0;
	width: 100%;
	height: 0;
	text-align: center;
	z-index: 2;
	transition: height .35s;
}

.main_digital_hover_in{
	background:rgba(0,0,0,0.6);
	position: absolute;
	left: 0;
	bottom:0;
	text-align: center;
	width: 100%;
	height: 52px;
}

.main_digital_hover .main_digital_hover_in strong{
	font-size: 12px;
	line-height: 22px;
	margin-top: 5px;
	color: #fff;
	display: block;
	font-weight: normal;
}

.main_digital_hover .main_digital_hover_in div{
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}

.main_digital_hover .main_digital_hover_in i{
	font-style: normal;
	padding: 0 8px;
	color: #999;
}

.main_digital_list li:hover .main_digital_hover{
	height: 52px;
}

.main_notebook{
	background: #eb9e74;
}

.main_digital_brand{
	border-top: 1px solid #f7f7f7;
	background: #fff;
}

.main_digital_brand li{
	float: left;
	padding: 10px 14px;
	position: relative;
}

.main_digital_brand li span{
	width: 1px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: 50%;
	margin-top: -10px;
	background: #e6e6e6;
}

.main_digital_brand li a{
	float: left;
}





/* 以下为本周热销部分 */
.selling_t{
	text-align: center;
	line-height: 94px;
	background: url('http://icon.zol-img.com.cn/newshop/shop/index/digital-3c_hd.png') repeat-x left center;
}

.selling_t span{
	font-size: 24px;
	padding: 0 15px;
	background: #f7f7f7;
	display: inline-block;
}

.selling_list{
	margin-left:-12px ;
}

.selling_list li{
	background: #fff;
	width: 200px;
	padding: 10px 15px;
	margin: 0 0 12px 12px;
}





/*以下为活动页部分*/
#active{
	position: fixed;
	z-index: 1000000;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	display:block;
}
.active_inner{
	width: 586px;
	height: 582px;
	margin:-291px 0 0 -293px;
	text-align: center;
	position: absolute;
	left: 50%;
	top:50%;
}
.active_inner a{
	cursor: pointer;
}
.active_inner img{
	margin:0 auto;
}
.active_inner a div:nth-of-type(1){
	padding-top: 14px;
	font-size: 26px;
	line-height: 36px;
	color:#9a9a9a;
}

.active_inner a div:nth-of-type(1) span{
	font-family: arial;
}

.active_inner h2{
	padding;0 0 5px;
	font-size:60px;
	line-height: 80px;
	color:#fff;
}
.active_inner a div:nth-of-type(2) span{
	display:inline-block;
	line-height: 38px;
	font-size: 24px;
	padding:0 20px;
	border:1px dashed #9a9a9a;
	color:#9a9a9a;
	border-radius: 20px;
}

.active_inner a p{
	font-size:36px;
	line-height: 62px;
	background:#eb391a;
	border-radius: 32px;
	margin:50px 0 0;
	color:#fff;
	width:210px;
	display:inline-block;
}
.active_close{
	width:45px;
	height: 45px;
	position: absolute;
	top: 0;
	right:0;
	background: url("http://icon.zol-img.com.cn/newshop/shop/index/apple-active-colse.png") no-repeat;
}
/*底部活动图*/
.foot-activity-btn {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 318px;
    height: 194px;
    background: url(http://icon.zol-img.com.cn/newshop/shop/index/small_bg.png) no-repeat;
    cursor: pointer;
    z-index: 102;
}
.foot-activity-btn>a{
	display: inline-block;
	height:100%;
	width:100%;
}




