html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, c{ border:none; }

img{display: block;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol { list-style:none; }

body { color:#333; font:12px/1.5 "SimSun","����","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;}

a { color:#333; text-decoration:none; }

body{font:12px/1.5 "Microsoft YaHei","Arial Narrow",HELVETICA;}


.clearfix::after{content:"";height:0;clear:both;overflow:hidden;display:block;visibility:hidden;}
